@font-face {
    font-family: "Bookman Old Style";
    src: url('BookmanOldStyle.TTF') format('truetype');
}

#container {
    font-family: "Bookman Old Style", serif;
    margin: auto;
    width: 55%;
    transition: width 1.2s;
}

@media (max-width: 1480px) {
    #container {
        width: 70%;
    }
}

@media (max-width: 1050px) {
    #container {
        width: 80%;
    }
}

header {
    text-align: center;
}

#title {
    font-size: 50px;
}

ul {
    font-size: 0; /* ensure no space between elements in inline list */
}

ul li {
    font-size: 16px;
    transition: background 0.2s ease-in;
    cursor: default;
}

a {
    color: black;
    text-decoration: none;
}

.highlight:hover {
    background: #f2f2f2;
    transition: background 0.1s;
}

nav {
    margin-top: 6px;
    text-align: center;
    border-width: 1px;
    border-bottom-style: solid;
    border-top-style: solid;
}

footer {
    position: fixed;
    bottom: 0;
}

nav ul {
    margin-top: 9px;
    margin-bottom: 8px;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    margin: 0;
    padding: 9px 13px 8px 13px;
}

nav a {
    /*margin: 0;*/
    /*padding: 9px 13px 8px 13px;*/
}

nav .sep {
    padding: 9px 5px 8px 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
